textarea {
  width: 100%;
}

.box {height: 100%;}

textarea#jinja_template {
  height: 40%;
  min-height: 20em;
}

textarea#jinja_context {height: 5em;}

textarea#config_output {height: 40%;}