body {width: 100%;}

label {display:block;}

textarea {display: block;}

code {
  display: block;
  white-space: pre-wrap;
}

body code:before,
body code:after {
  letter-spacing: -0.2em;
  content: "";
}

a.nav_link {padding: 0px 10px;}