<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="toc">
    <ul>
        <li><a href="/render">Render Jinja template</a></li>
        <li><a href="/render/help">Jinja for Network Engineers - guide</a></li>
    </ul>
</div>
{% endblock %}
