<!-- extend from base layout -->
{% extends "base.html" %}

{% block more_links %}
<a class="nav_link" href="/render">Time to Jinja!</a>
{% endblock %}

{% block content %}
<div>{{ help_block | safe }}</div>
{% endblock %}