<!-- extend from base layout -->
{% extends "base.html" %}

{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/render.css') }}">
{% endblock %}

{% block more_links %}
<a class="nav_link" href="/render/help">Help me with Jinja!</a>
{% endblock %}

{% block content %}
<div class="box">
    <form action="" method="post" name="render_template">
        {{ form.hidden_tag() }}
        <label for="jinja_template">Template:</label>
        {{ form.jinja_template() }}
        <label for="jinja_context">Context:</label>
        {{ form.jinja_context() }}
        <div><input type="submit" value="Render"></div>
    </form>

    {% if output %}
    <textarea id="config_output" readonly>{{ output }}</textarea>
    {% endif %}
</div>
{% endblock %}
